/* For the Background Image */
.bg {
    /* The image used */
    background-image: url('images/background.jpg');
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
}
    /* Form Properties adjusted */
.btn.btn-outline-primary.btn-block {
    background-color: #fff;
    border: 3px solid rgba(23, 28, 38, 0.6);
    color: rgba(0, 0, 0, 0.7);
    font-weight: 500;
    font-size: larger;
}
.btn.btn-outline-primary.btn-block:hover {
    color: #F1B600;
}
.form-control {
    background-color: #fff;
    border: 3px solid rgba(23, 28, 38, 0.6);
    color: rgba(0, 0, 0, 0.7);
}
.btn.btn-secondary.btn-block {
    background-color: #F1B600;
    color: #000000;
    border: 0 solid #F1B600;
    font-weight: 500;
    font-size: larger;
}
.btn.btn-secondary.btn-block:hover {
    border: 1px solid #F1B600;
}
a,
span {
    color: #CB1206;
}
p,
a{
    color: #000000;
}
a:hover{
    text-decoration: none;
    cursor: pointer;
    color: #F1B600;
}
p {
    font-weight: 600;
}
    