@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
body {
    font-family: 'Righteous', cursive;
    font-size: 18px;
    font: outline;
}


/* For the Background Image */

.bg {
    /* The image used */
    background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('images/bg1Image.jpg');
    /* Center and scale the image nicely */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.bg2 {
    /* The image used */
    background-image: url('images/bgImage.jpg');
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* Form Properties adjusted */

.form-control {
    border: 3px solid rgba(23, 28, 38, 0.6);
    box-sizing: border-box;
    border-radius: 10px;
}

.btn.btn-secondary {
    background-color: #F1B600;
    color: #fff;
    border: 0 solid #F1B600;
    font-weight: 500;
    font-size: larger;
}

p,
a,
span {
    color: #F1B600;
}

a:hover {
    text-decoration: none;
}

p {
    font-weight: 400;
    color: #000000;
}